.margin {
    padding-left:10%; 
    padding-right:10%;
    padding-bottom: 10%
}

.margin p {
    text-align: center; 
    font-size: 17px;
}


.margin h1 {
    font-size: 23px;
    text-align: center;
    margin-top: 100px; 
    color: #ff4242;
}

.redContainer {
    padding: 5%;
    background: #ff4242; 
    margin: 0;
}

.redContainer h1 {
    font-size: 23px;
    text-align: center;
    margin-top: 100px; 
    color: white;
}

.redContainer p {
    text-align: left; 
    font-size: 17px;
    color: white;
}