.margin {
    padding-left:10%; 
    padding-right:10%;
    padding-bottom: 10%;
    margin-top: 5%;
    padding-left:5%; 
    background: #d9d9d9;
}

.margin p {
    text-align: left; 
    font-size: 17px;
}

.margin h1 {
    font-size: 23px;
    text-align: center;
    margin-top: 100px; 
    color: #ff4242;
}