.margin {
    padding-left:10%; 
    padding-right:10%;
    padding-bottom: 10%;
    margin-top: 5%;
    }

    .margin p {
        text-align: left; 
        font-size: 17px;
        color: gray; 
        padding-bottom: 2.5%;
    }

    .margin h1 {
        font-size: 23px;
        text-align: center;
        margin-top: 100px; 
        color: #ff4242;
        padding-bottom: 2.5%;
    }
    .margin h2{
        text-align: center;
        font-size: 17px;
    }