/* ff4242 */

body {
    font-family: 'Montserrat', sans-serif;

}

.projectContainer {
    display: flex;
  justify-content: center;
}

.projectContainer img {
    padding: 10px;
    /*max-height: 400px;*/
    height: auto;
    width: 300px;
    object-fit: cover;
}

.projectContainer img:hover{
    transform: scale(1.05);

}