/* ff4242 */


.projectContainer {
    display: flex;
  justify-content: center;
}

.projectContainer img {
    padding: 10px;
    /*max-height: 400px;*/
    height: auto;
    width: 300px;
    object-fit: cover;
}

.projectContainer img:hover{
    transform: scale(1.05);

}

.margin {
    padding-left:10%; 
    padding-right:10%;
}

.margin p {
    text-align: center; 
    font-size: 17px;
}

.margin h1 {
    font-size: 23px;
    text-align: center;
    margin-top: 100px; 
    color: #ff4242;
}
