.margin {
    padding-left:10%; 
    padding-right:10%;
    padding-bottom: 10%;
}

.margin p {
    text-align: center; 
    font-size: 17px;
}

.margin h1 {
    height:3px; 
    border-width:0;
    font-size: 23px;
    text-align: center;
    margin-top: 100px; 
    color: #ff4242;
    background-color:#ff4242; opacity: 0.3;
}